header {
    margin-block: 20px;
  
    .header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 22px;
      padding: 20px;
      color: white;
      background-color: black;
      border-radius: 10px;
  
      .header__logo {
        font-size: 20px;
      }
  
      .header__nav {
        display: flex;
        align-items: center;
        gap: 35px;
  
        .nav-link {
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 5px;
  
          .icon {
            font-size: 24px;
          }
  
          &.nav_active {
            border-bottom: 2px solid white;
          }
  
          .link-text {
            display: inline;
          }
  
          &:hover {
            color: #007bff; /* Color on hover */
          }
        }
      }
    }
  }
  
  /* Media queries for mobile devices */
  @media (max-width: 768px) {
    .header__wrapper {
      flex-direction: column;
      align-items: center;
      background-color: transparent;
      border-radius: 0;
    }
  
    .header__nav {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-around;
      background-color: #333; /* Background for the bottom panel */
      padding: 10px 0;
      gap: 0;
  
      .nav-link {
        flex-direction: column;
        gap: 4px;
        font-size: 14px;
  
        .link-text {
          display: none; /* Hide text on mobile */
        }
  
        .icon {
          font-size: 28px; /* Increase icon size on mobile */
        }
  
        &:hover {
          color: #007bff; /* Color on hover */
        }
      }
    }
  }
  